{% extends 'base.html' %}
{% load static %}

{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
<div class="main-content">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Confirm Password Reset</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to reset the password for user <strong>{{ user.username }}</strong>? A new random password will be generated and displayed as a message.</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reset Password</button>
                        <a href="{% url 'admin_panel:user_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}