<!-- Support & Communication -->
<div class="card shadow mb-4" id="support">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Support & Communication</h6>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a href="{% url 'messaging:new_conversation' %}" class="list-group-item list-group-item-action">Message Pool Manager</a>
            <a href="{% url 'messaging:new_conversation' %}" class="list-group-item list-group-item-action">Contact Admin (WEBBANK GLOBAL LTD)</a>
            <a href="{% url 'support:support_dashboard' %}" class="list-group-item list-group-item-action">FAQs</a>
            <a href="{% url 'support:support_dashboard' %}" class="list-group-item list-group-item-action">Help Tickets</a>
        </div>
    </div>
</div>