name: Ping Render App
on:
  schedule:
    # Runs every 15 minutes
    - cron: '*/15 * * * *'
jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -X GET https://webbankglobal.onrender.com 
